<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            Manage Donation
        </title>
        <style>
            h2 {
                text-align: center;
                text-color: "teal";
            }
        </style>
    </head>
    <body>
        <!-- Profile info -->
        <div class="card">
            <div class="card-header header-elements-inline">

                <h2 style="color:teal">L'OPERATION FINANCIERE D'AIDE NUMERO
                    {{operationFinanciere.id}}
                </h2>
                <div class="header-elements"></div>
            </div>

            <div class="card-body">
                <label>
                    <strong>
                        <h3 style="color:green-400"></h3>
                    </strong>
                </label>
            </div><br>


            <div class="row">
                <div class="col-md-6">
                    <label>
                        <strong>Montant:</strong>
                    </label>
                    {{operationFinanciere.montant}}
                </div>
                <div class="col-md-6">
                    <label>
                        <strong>Le mode de paiement :</strong>
                    </label>
                    {{operationFinanciere.modepaiement}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>
                        <strong>Evènement :</strong>
                    </label>
                    {{operationFinanciere.evenement}}
                </div>



            </div>
        </body>
    </body>
</html></div></div><!-- /profile info --></body></html>
