<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			Manage Donation
		</title>
		<style>
			h2 {
				text-align: center;
				text-color: "teal";
			}
		</style>
	</head>
	<body>
		<!-- Profile info -->
		<div class="card">
			<div class="card-header header-elements-inline">
				<img src="{{ asset('templateAdmin/global_assets/images/ishenlogo.png') }}" alt="">

				<h2 style="color:teal">Operation don pour l'association ihsen</h2>
				<div class="header-elements"></div>
			</div>
			
			


			<div class="row">
				<div class="col-md-6">
					<label>
						<strong>nomdonataire:</strong>
					</label>
					{{operation_financieres.nomdonataire}}
				</div>
				<div class="col-md-6">
					<label>
						<strong>montant :</strong>
					</label>
					{{operation_financieres.montant}}
				</div>
			</div>
			
			

		</div>
	</body>
</html></div></div><!-- /profile info --></body></html>
